@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/********************* template styles *********************/

body{
  font-family: 'Roboto', sans-serif;

  header{
    height: 630px;
    background: #e1ebed url(../../img/bacground-header.jpg) no-repeat fixed center{
      size: cover;
    }
    .header-fixed{
      position: fixed;
      z-index: 9999;
      width: 100%;
    }
    .container-menu{
      width: 90%;
      margin: auto;

      .logo{
        width: 50px;
        float: left;
        margin: 10px 20px;
      }
      .hamburger-menu {
        @media (min-width: 992px) {
          padding-top: 10px;
        }
          .menu__btn {
            display: flex;
            align-items: center;
            position: fixed;
            top: 20px;
            right: 20px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 9999;
            float: right;

            @media (min-width: 992px) {
              display: none;
            }

          }

          .menu__btn > span,
          .menu__btn > span::before,
          .menu__btn > span::after {
            transition-duration: .25s;
         }
          .menu__btn > span, .menu__btn > span::before,
          .menu__btn > span::after{
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            z-index: 9999;
            background-color: #616161;
          }
          .menu__btn > span::before{
            content: "";
            top: -8px;
          }
          .menu__btn > span::after{
            content: "";
            top: 8px;
          }

        #menu__toggle{
          float: right;
          opacity: 0;
          float: right;
          top: 18px;
          right: 18px;
          position: absolute;
          width: 30px;
          height: 30px;
          z-index: 99999;
          &:checked ~ .menu__box {
            visibility: visible;
            left: 0;
          }
          &:checked ~ .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
          }
          &:checked ~ .menu__btn > span::before {
            top: 0;
            transform: rotate(0);
          }
          &:checked ~ .menu__btn > span {
            transform: rotate(45deg);
          }
        }

        .menu__box {
          transition-duration: .25s;
          display: block;
          position: fixed;
          visibility: hidden;
          top: 0;
          left: -100%;
          width: 300px;
          height: 100%;
          margin: 0px;
          padding: 0px 0px;
          list-style: none;
          text-align: left;
          padding-left: 10px;
          background-color: #ffffff;
          box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

          @media (min-width: 992px) {
            position: unset;
            visibility: unset;
            width: auto;
            padding: 0px 0px;
            float: right;
            background-color: #eceff100;
            -webkit-box-shadow: none;
            box-shadow: none;
          }

          li {
            list-style-type: none;
            padding: 10px;
            float: none;
            &:nth-child(1){
              margin-top: 20px;
            }
            @media (min-width: 992px) {
              display: inline-block;
              &:nth-child(1){
                margin-top: 0px;
              }
            }

            .menu__item {
              transition-duration: .25s;
              display: block;
              padding: 0px 0px;
              &:hover {
                color: #10c9c3;
              }

              @media (min-width: 992px) {
                padding: 0px 0px;
              }
              display: block;
              color: #1c1d1c;
              text:{
                decoration: none;
                transform: uppercase;
              }
              &:hover {
                color: #10c9c3;
              }
            }
          }
        }
      }
    }
  }
  .slogan{
    float: right;

    @media only screen and (min-width: 600px) {
      width: 500px;
    }
    margin:{
      top: 150px;
      bottom: 30px;
    }

    .slogan-title{
      font-size: 45px;
    }
    .slogan-description{
      font-size: 15px;
    }

    button{
      font-size: 15px;
      background: #10c9c3;
      border: 0px;
      color: #fff;
      padding: 10px 20px;
      text-transform: uppercase;
      &:hover{
        background: #0daba6;
      }
    }
  }
  .about-us{
    margin:{
      bottom: 60px;
      top: 60px;
    }
    .about-us-title{
      font-size: 20px;
      font-weight: bold;
      @media only screen and (min-width: 600px) {
        font-size: 35px;
      }
      @media only screen and (min-width: 768px) {
        font-size: 45px;
      }

      text:{
        transform: capitalize;
        align: center;
      }
    }
    .about-us-description{
      font-size: 15px;
      text-align: center;
      max-width: 700px;
      margin: 0 auto;
      line-height: 1.6;
    }
    img{
      text-align: center;
      margin: 0 auto;
      display: block;
      max-width: 100%;
      padding:{
        top: 20px;
        bottom: 20px;
      }
    }
  }
  .professional-skills{
    background: url("../../img/flat-lay.jpg") no-repeat center center fixed{
      size: cover;
    }
    position: relative;
    width: 100%;
    height: 502px;

    .container{
      height: 100%;
      display: flex;
      align-items: center;

      .professional-skills-progress{
        display: flex;
        align-content: center;
        flex-direction: column;

        .professional-skills-title{
          font-size: 35px;
          text-transform: capitalize;
        }
        .progress{
          height: 2px;
          div{
            background: #10c9c3;
            height: 2px;
          }
        }
      }
    }

  }
  .process{
    background-color: #10c9c3;
    color: #fff;
    height: 500px;
    @media only screen and (min-width: 600px) {
      height: 400px;
    }
    @media only screen and (min-width: 768px) {
      height: 200px;
    }
    .container{
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;

      div{
        float: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .progects-num{
          width: 200px;
          font-size: 20px;
        }
        .progects-icon{
          font-size: 35px;
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
  }
  .gallery{
    .container-1{
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;

      div{
        position: relative;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
          width: 100%;
        }

        .gallery-hover{
          position: absolute;
          z-index: 100;
          bottom: 0px;
          width: 100%;
          height: 100%;
          background-color: #10c9c300;
          transition: background-color;
          transition-delay: 0.25s;
          transition-duration: 0.25s;
          transition-timing-function: ease;
        }
        &:hover .gallery-hover{
          background-color: #10c9c361;
        }

        svg{
          color: #0000;
          font-size: 35px;

          @media only screen and (min-width: 768px) and  (max-width: 800px) {
            font-size: 25px;
          }

          transition: color;
          transition-delay: 0.25s;
          transition-duration: 0.25s;
          transition-timing-function: ease;
        }
        &:hover .gallery-hover svg{
          color: black;
        }
      }
    }
    .load-more-work{
      background: #f5f5f5;
      height: 65px;
      display: flex;
      justify-content: center;

      @media only screen and (min-width: 600px) {
        height: 100px;
      }

      button{
        border: none;
        background: #fff0;
        text-transform: uppercase;
        outline: none;
      }
    }
  }


  .our-work-process{

    .our-work-process-title{
      font-size: 20px;

      @media only screen and (min-width: 600px) {
        font-size: 35px;
      }
      @media only screen and (min-width: 768px) {
        font-size: 45px;
      }

      text:{
        transform: capitalize;
        align: center;
      }
    }
    .our-work-process-description{
      font-size: 15px;
      text-align: center;
      max-width: 700px;
      margin: 0 auto;
      line-height: 1.6;
    }
    video{
      width: 100%;
      padding-top: 20px;
      padding-bottom: 60px;
    }
  }

  .services{
    background-color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 30px;
    /*height: 500px;*/
    @media only screen and (min-width: 600px) {
      /*height: 400px;*/
    }
    @media only screen and (min-width: 768px) {
      /*height: 200px;*/
    }
    .container{
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;

      div{
        /*float: left;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-right: 10px;
        padding-left: 10px;
        box-sizing: border-box;

        .services-desc{
          max-width: 235px;

          @media only screen and (min-width: 600px) {
            /*width: 235px;*/
          }
          @media only screen and (min-width: 768px) {
            min-width: 150px;
            max-width: 250px;
          }
          font-size: 16px;
          margin-bottom: 10px;
        }
        .services-title{
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .services-icon{
          font-size: 35px;
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
  }


  .reviews{
    background: #10c9c3;
    color: #fff;
    /*height: 300px;*/
    height: auto;
    .reviews-description{
      font-size: 25px;
      text-align: center;
      color: #fff;
    }
    .reviews-author{
      font-size: 15px;
      color: #fff;
      text:{
        transform: uppercase;
        align: center;
      }
    }
    .owl-stage{
     /* margin-bottom: 85px;
        @media only screen and (min-width: 600px) {
          margin-bottom: 85px;
        }
        @media only screen and (min-width: 768px) {
          margin-bottom: 85px;
        }*/
    }
    .owl-theme .owl-dots .owl-dot.active span{
      background: #fff;
      width: 16px;
      height: 16px;
      margin-bottom: 2px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .owl-theme .owl-dots .owl-dot:hover span {
      background: #fff;
    }
  }

  .partners{
    .container{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      div{
        display: flex;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        img{
          width: 150px;
        }
      }
    }
  }

  .contacts {
    background: #f5f5f5;
    padding:{
      bottom: 30px;
      top: 30px;
    }
    .contacts-title{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      @media only screen and (min-width: 600px) {
        font-size: 35px;
      }
      @media only screen and (min-width: 768px) {
        font-size: 45px;
      }
    }
    .contacts-desc{
      font-size: 16px;
      text-align: center;
      max-width: 600px;
      margin: auto;
    }
    form{
      padding-top: 20px;
      padding-bottom: 60px;
      max-width: 100%;
      margin: 0 auto;
      fieldset{
        border: 0px;
        margin: 0px;
        padding: 0px;

        input[name='name'], input[name='email']{
          width: 100%;

          @media only screen and (min-width: 768px) {
            width: 48%;
          }
        }
        input[name='name']{
          @media only screen and (min-width: 768px) {
            margin-right: 4%;
            float: left;
          }
        }
        input[name='email']{
          @media only screen and (min-width: 768px) {
            float: right;
          }

        }
        input[name='title']{
          display: block;
          width: 100%;
        }
        input[name='comment']{
          display: block;
          width: 100%;
        }
        input{
          margin-bottom: 20px;
          padding-left: 10px;
          border: 0px;
          height: 35px;
          box-sizing: border-box;
        }
        input[type='submit']{
          background: #10c9c3;
          padding: 10px 20px;
          color: white;
          margin: 0 auto;
          display: block;
          text-transform: uppercase;
          border: 0px;
          &:hover{
            background: #0daba6;
          }
        }
      }
    }
  }
  footer{
    background: #141414;
    color: #b9b9b9;
    padding:{
      bottom: 30px;
      top: 30px;
    }
    @media only screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      padding-left: 5%;
      padding-right: 5%;
    }
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;


      ul {
        li {
          list-style-type: none;
          padding: 10px;
        }
      }

      a {
        color: #b9b9b9;

        &:hover {
          text-decoration: none;
          color: #b9b9b9;
        }
      }
    }
  }
}









/*bootstrap 4*/


/* xs - устройства (до 576px) */
/* CSS для ширины, которая меньше 575px (включительно) */

/* sm-устройства (больше или равно 576px) */
@media (min-width: 576px) {
  /* CSS для: 576px <= ширины <= 767px */
}

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {
  /* CSS для: 768px <= ширины <= 991px */
}

/* lg-устройства (больше или равно 992px) */
@media (min-width: 992px) {
  /* CSS для: 992px <= ширины <= 1119px */
}

/* xl-устройства (больше или равно 1200px) */
@media (min-width: 1200px) {
  /* CSS для: ширины >= 1200px */
}



/*.carousel{
  max-width:480px;
  margin:auto;
}*/