@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/********************* template styles *********************/
body {
  font-family: 'Roboto', sans-serif; }
  body header {
    height: 630px;
    background: #e1ebed url(../../img/bacground-header.jpg) no-repeat fixed center;
      background-size: cover; }
    body header .header-fixed {
      position: fixed;
      z-index: 9999;
      width: 100%; }
    body header .container-menu {
      width: 90%;
      margin: auto; }
      body header .container-menu .logo {
        width: 50px;
        float: left;
        margin: 10px 20px; }
      @media (min-width: 992px) {
        body header .container-menu .hamburger-menu {
          padding-top: 10px; } }
      body header .container-menu .hamburger-menu .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 9999;
        float: right; }
        @media (min-width: 992px) {
          body header .container-menu .hamburger-menu .menu__btn {
            display: none; } }
      body header .container-menu .hamburger-menu .menu__btn > span,
      body header .container-menu .hamburger-menu .menu__btn > span::before,
      body header .container-menu .hamburger-menu .menu__btn > span::after {
        transition-duration: .25s; }
      body header .container-menu .hamburger-menu .menu__btn > span, body header .container-menu .hamburger-menu .menu__btn > span::before,
      body header .container-menu .hamburger-menu .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        z-index: 9999;
        background-color: #616161; }
      body header .container-menu .hamburger-menu .menu__btn > span::before {
        content: "";
        top: -8px; }
      body header .container-menu .hamburger-menu .menu__btn > span::after {
        content: "";
        top: 8px; }
      body header .container-menu .hamburger-menu #menu__toggle {
        float: right;
        opacity: 0;
        float: right;
        top: 18px;
        right: 18px;
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 99999; }
        body header .container-menu .hamburger-menu #menu__toggle:checked ~ .menu__box {
          visibility: visible;
          left: 0; }
        body header .container-menu .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
          top: 0;
          transform: rotate(90deg); }
        body header .container-menu .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
          top: 0;
          transform: rotate(0); }
        body header .container-menu .hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
          transform: rotate(45deg); }
      body header .container-menu .hamburger-menu .menu__box {
        transition-duration: .25s;
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0px;
        padding: 0px 0px;
        list-style: none;
        text-align: left;
        padding-left: 10px;
        background-color: #ffffff;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2); }
        @media (min-width: 992px) {
          body header .container-menu .hamburger-menu .menu__box {
            position: unset;
            visibility: unset;
            width: auto;
            padding: 0px 0px;
            float: right;
            background-color: #eceff100;
            -webkit-box-shadow: none;
            box-shadow: none; } }
        body header .container-menu .hamburger-menu .menu__box li {
          list-style-type: none;
          padding: 10px;
          float: none; }
          body header .container-menu .hamburger-menu .menu__box li:nth-child(1) {
            margin-top: 20px; }
          @media (min-width: 992px) {
            body header .container-menu .hamburger-menu .menu__box li {
              display: inline-block; }
              body header .container-menu .hamburger-menu .menu__box li:nth-child(1) {
                margin-top: 0px; } }
          body header .container-menu .hamburger-menu .menu__box li .menu__item {
            transition-duration: .25s;
            display: block;
            padding: 0px 0px;
            display: block;
            color: #1c1d1c;
            text-decoration: none;
            text-transform: uppercase; }
            body header .container-menu .hamburger-menu .menu__box li .menu__item:hover {
              color: #10c9c3; }
            @media (min-width: 992px) {
              body header .container-menu .hamburger-menu .menu__box li .menu__item {
                padding: 0px 0px; } }
            body header .container-menu .hamburger-menu .menu__box li .menu__item:hover {
              color: #10c9c3; }
  body .slogan {
    float: right;
    margin-top: 150px;
    margin-bottom: 30px; }
    @media only screen and (min-width: 600px) {
      body .slogan {
        width: 500px; } }
    body .slogan .slogan-title {
      font-size: 45px; }
    body .slogan .slogan-description {
      font-size: 15px; }
    body .slogan button {
      font-size: 15px;
      background: #10c9c3;
      border: 0px;
      color: #fff;
      padding: 10px 20px;
      text-transform: uppercase; }
      body .slogan button:hover {
        background: #0daba6; }
  body .about-us {
    margin-bottom: 60px;
    margin-top: 60px; }
    body .about-us .about-us-title {
      font-size: 20px;
      font-weight: bold;
      text-transform: capitalize;
      text-align: center; }
      @media only screen and (min-width: 600px) {
        body .about-us .about-us-title {
          font-size: 35px; } }
      @media only screen and (min-width: 768px) {
        body .about-us .about-us-title {
          font-size: 45px; } }
    body .about-us .about-us-description {
      font-size: 15px;
      text-align: center;
      max-width: 700px;
      margin: 0 auto;
      line-height: 1.6; }
    body .about-us img {
      text-align: center;
      margin: 0 auto;
      display: block;
      max-width: 100%;
      padding-top: 20px;
      padding-bottom: 20px; }
  body .professional-skills {
    background: url("../../img/flat-lay.jpg") no-repeat center center fixed;
      background-size: cover;
    position: relative;
    width: 100%;
    height: 502px; }
    body .professional-skills .container {
      height: 100%;
      display: flex;
      align-items: center; }
      body .professional-skills .container .professional-skills-progress {
        display: flex;
        align-content: center;
        flex-direction: column; }
        body .professional-skills .container .professional-skills-progress .professional-skills-title {
          font-size: 35px;
          text-transform: capitalize; }
        body .professional-skills .container .professional-skills-progress .progress {
          height: 2px; }
          body .professional-skills .container .professional-skills-progress .progress div {
            background: #10c9c3;
            height: 2px; }
  body .process {
    background-color: #10c9c3;
    color: #fff;
    height: 500px; }
    @media only screen and (min-width: 600px) {
      body .process {
        height: 400px; } }
    @media only screen and (min-width: 768px) {
      body .process {
        height: 200px; } }
    body .process .container {
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center; }
      body .process .container div {
        float: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; }
        body .process .container div .progects-num {
          width: 200px;
          font-size: 20px; }
        body .process .container div .progects-icon {
          font-size: 35px;
          margin-left: 20px;
          margin-right: 20px; }
  body .gallery .container-1 {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center; }
    body .gallery .container-1 div {
      position: relative;
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      body .gallery .container-1 div img {
        width: 100%; }
      body .gallery .container-1 div .gallery-hover {
        position: absolute;
        z-index: 100;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background-color: #10c9c300;
        transition: background-color;
        transition-delay: 0.25s;
        transition-duration: 0.25s;
        transition-timing-function: ease; }
      body .gallery .container-1 div:hover .gallery-hover {
        background-color: #10c9c361; }
      body .gallery .container-1 div svg {
        color: #0000;
        font-size: 35px;
        transition: color;
        transition-delay: 0.25s;
        transition-duration: 0.25s;
        transition-timing-function: ease; }
        @media only screen and (min-width: 768px) and (max-width: 800px) {
          body .gallery .container-1 div svg {
            font-size: 25px; } }
      body .gallery .container-1 div:hover .gallery-hover svg {
        color: black; }
  body .gallery .load-more-work {
    background: #f5f5f5;
    height: 65px;
    display: flex;
    justify-content: center; }
    @media only screen and (min-width: 600px) {
      body .gallery .load-more-work {
        height: 100px; } }
    body .gallery .load-more-work button {
      border: none;
      background: #fff0;
      text-transform: uppercase;
      outline: none; }
  body .our-work-process .our-work-process-title {
    font-size: 20px;
    text-transform: capitalize;
    text-align: center; }
    @media only screen and (min-width: 600px) {
      body .our-work-process .our-work-process-title {
        font-size: 35px; } }
    @media only screen and (min-width: 768px) {
      body .our-work-process .our-work-process-title {
        font-size: 45px; } }
  body .our-work-process .our-work-process-description {
    font-size: 15px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6; }
  body .our-work-process video {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px; }
  body .services {
    background-color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 30px;
    /*height: 500px;*/ }
    @media only screen and (min-width: 600px) {
      body .services {
        /*height: 400px;*/ } }
    @media only screen and (min-width: 768px) {
      body .services {
        /*height: 200px;*/ } }
    body .services .container {
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center; }
      body .services .container div {
        /*float: left;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-right: 10px;
        padding-left: 10px;
        box-sizing: border-box; }
        body .services .container div .services-desc {
          max-width: 235px;
          font-size: 16px;
          margin-bottom: 10px; }
          @media only screen and (min-width: 600px) {
            body .services .container div .services-desc {
              /*width: 235px;*/ } }
          @media only screen and (min-width: 768px) {
            body .services .container div .services-desc {
              min-width: 150px;
              max-width: 250px; } }
        body .services .container div .services-title {
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 10px; }
        body .services .container div .services-icon {
          font-size: 35px;
          margin-left: 20px;
          margin-right: 20px; }
  body .reviews {
    background: #10c9c3;
    color: #fff;
    /*height: 300px;*/
    height: auto; }
    body .reviews .reviews-description {
      font-size: 25px;
      text-align: center;
      color: #fff; }
    body .reviews .reviews-author {
      font-size: 15px;
      color: #fff;
      text-transform: uppercase;
      text-align: center; }
    body .reviews .owl-stage {
      /* margin-bottom: 85px;
        @media only screen and (min-width: 600px) {
          margin-bottom: 85px;
        }
        @media only screen and (min-width: 768px) {
          margin-bottom: 85px;
        }*/ }
    body .reviews .owl-theme .owl-dots .owl-dot.active span {
      background: #fff;
      width: 16px;
      height: 16px;
      margin-bottom: 2px;
      margin-left: 5px;
      margin-right: 5px; }
    body .reviews .owl-theme .owl-dots .owl-dot:hover span {
      background: #fff; }
  body .partners .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }
    body .partners .container div {
      display: flex;
      align-items: center;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 30px;
      padding-bottom: 30px; }
      body .partners .container div img {
        width: 150px; }
  body .contacts {
    background: #f5f5f5;
    padding-bottom: 30px;
    padding-top: 30px; }
    body .contacts .contacts-title {
      font-size: 20px;
      font-weight: bold;
      text-align: center; }
      @media only screen and (min-width: 600px) {
        body .contacts .contacts-title {
          font-size: 35px; } }
      @media only screen and (min-width: 768px) {
        body .contacts .contacts-title {
          font-size: 45px; } }
    body .contacts .contacts-desc {
      font-size: 16px;
      text-align: center;
      max-width: 600px;
      margin: auto; }
    body .contacts form {
      padding-top: 20px;
      padding-bottom: 60px;
      max-width: 100%;
      margin: 0 auto; }
      body .contacts form fieldset {
        border: 0px;
        margin: 0px;
        padding: 0px; }
        body .contacts form fieldset input[name='name'], body .contacts form fieldset input[name='email'] {
          width: 100%; }
          @media only screen and (min-width: 768px) {
            body .contacts form fieldset input[name='name'], body .contacts form fieldset input[name='email'] {
              width: 48%; } }
        @media only screen and (min-width: 768px) {
          body .contacts form fieldset input[name='name'] {
            margin-right: 4%;
            float: left; } }
        @media only screen and (min-width: 768px) {
          body .contacts form fieldset input[name='email'] {
            float: right; } }
        body .contacts form fieldset input[name='title'] {
          display: block;
          width: 100%; }
        body .contacts form fieldset input[name='comment'] {
          display: block;
          width: 100%; }
        body .contacts form fieldset input {
          margin-bottom: 20px;
          padding-left: 10px;
          border: 0px;
          height: 35px;
          box-sizing: border-box; }
        body .contacts form fieldset input[type='submit'] {
          background: #10c9c3;
          padding: 10px 20px;
          color: white;
          margin: 0 auto;
          display: block;
          text-transform: uppercase;
          border: 0px; }
          body .contacts form fieldset input[type='submit']:hover {
            background: #0daba6; }
  body footer {
    background: #141414;
    color: #b9b9b9;
    padding-bottom: 30px;
    padding-top: 30px; }
    @media only screen and (min-width: 768px) {
      body footer {
        display: flex;
        flex-direction: row;
        padding-left: 5%;
        padding-right: 5%; } }
    body footer .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      body footer .container ul li {
        list-style-type: none;
        padding: 10px; }
      body footer .container a {
        color: #b9b9b9; }
        body footer .container a:hover {
          text-decoration: none;
          color: #b9b9b9; }

/*bootstrap 4*/
/* xs - устройства (до 576px) */
/* CSS для ширины, которая меньше 575px (включительно) */
/* sm-устройства (больше или равно 576px) */
@media (min-width: 576px) {
  /* CSS для: 576px <= ширины <= 767px */ }

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {
  /* CSS для: 768px <= ширины <= 991px */ }

/* lg-устройства (больше или равно 992px) */
@media (min-width: 992px) {
  /* CSS для: 992px <= ширины <= 1119px */ }

/* xl-устройства (больше или равно 1200px) */
@media (min-width: 1200px) {
  /* CSS для: ширины >= 1200px */ }

/*.carousel{
  max-width:480px;
  margin:auto;
}*/
